<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="container m-auto mt-4">
    <a class="border p-2 bg-green-500 rounded mr-4 text-white" href="/">Back</a>
    <form class="mt-5" action="/users/register" method="post">
      <input
        class="border p-2 rounded border-rose-500"
        type="text"
        name="name"
        placeholder="Enter Your Name"
      />

      <input
        class="border p-2 rounded border-rose-500"
        type="Email"
        name="email"
        placeholder="Enter Your Email"
      />
      <input
        class="border p-2 rounded border-rose-500"
        type="number"
        name="age"
        placeholder="Enter Your Age"
      />
      <input
        class="border p-2 rounded border-rose-500"
        type="password"
        name="password"
        placeholder="Enter Your password"
      />
      <input
        class="border p-2 rounded border-rose-500"
        type="submit"
        value="Submit"
      />
    </form>
  </body>
</html>
